$size-status-height: 1.4rem;
$size-titlebar-height: 1.75rem;
$size-titlebar-button-width: 2.4rem;
$size-color-input-width: 2.5rem;
$size-color-input-height: 2rem;
$size-control-height: 3rem;
$size-editor-min-width: 34rem;
$size-history-card-min: 150px;
$size-empty-state-min-height: 45vh;
